<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a routerLink="/"class="navbar-brand" routerLinkActive="active" style="font-size:30px; text-shadow: -1px -1px 18px rgba(150, 150, 150, 1);">Stemper Brothers</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/services">SERVICES</a></li>
                <li><a routerLink="/gallery">GALLERY</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    <router-outlet></router-outlet>
</div>
<footer>
    <p>This is the footer.</p>
</footer>