<div id="home-page-img">
    <div style="width:100%" class="centered center-margin">
        <div class="centered center-margin home-page-info-container">
            <div class="home-page-info">
                <p>
                    Stemper Brothers LLC is a tree company
                    located in Oklahoma City, Oklahoma. We
                    provide tree trimming, haul off, fencing,
                    among other services. Contact us today
                    to let help you!
                </p>
            </div>
            <div class="home-page-info push-right">
                <h2 style="text-align: center; margin: 0 0 5px 0; font-weight: 500;">Contact Us</h2>
                <div style="width:100%">
                    <div class="form-group" style="float:left; width:49%">
                        <input [(ngModel)]="name" placeholder="Name" class="form-control" />
                    </div>
                    <div class="form-group" style="float:left; width:49%">
                        <input [(ngModel)]="number" placeholder="Number" style="margin-left: 10px;" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <textarea [(ngModel)]="question" placeholder="Question/Comment" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button (click)="submitContact()" class="btn btn-primary float-right" type="submit">Submit</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="center-margin" style="display: flex; justify-content: center; align-items: center">
    <a><img (click)="goToTreeServices('treeservices')" class="home-page-img" src="../../Content/images/tree-services-img.png" /></a>
    <a><img (click)="goToTreeServices('fencing')" class="home-page-img" src="../../Content/images/fencing-img.png" /></a>
    <a><img (click)="goToTreeServices('sprinklers')" class="home-page-img" src="../../Content/images/sprinklers-services-img.png" /></a>
</div>
