<div class="c-align-text page-container center-margin">
    <h1 id="services" class="green-text">Our Services</h1>
    <p id="treeservices"></p>
    <br />
    <div class="service-item">
        <h1 class="c-align-text ">Tree Services</h1>
        <div class="service-item-sub box-shadow">
            <h2 class="c-align-text green-text">Tree trimming</h2>
            <p>
                Low hanging and dead limbs are something we all hate. There’s no limb too big or high that we can’t
                help you with. If you have any limbs giving you trouble, contact us today!
            </p>
        </div>
        <div class="service-item-sub box-shadow">
            <h2 class="c-align-text green-text">Haul Off</h2>
            <p>
                Having tree limbs and brush piles all over your land can really become a hassle.
                Our company has the right equipment to haul off any amount of brush. If you have anything
                you need hauled off, contact us today and we will help you clean your land.
            </p>
        </div>
        <div class="service-item-sub box-shadow">
            <h2 class="c-align-text green-text">Tree Removal</h2>
            <p>
                Some trees can be dangerous or just plain annoying. Here at Stemper brothers’ we take pride in our ability
                to help people remove trees that can pose a threat or obstruct a view. If you have a problem tree, get a hold
                of us to get rid of all your problem trees.
            </p>
        </div>
        <div class="service-item-sub box-shadow">
            <h2 class="c-align-text green-text">Stump Grinding</h2>
            <p>
                Nothing is worse than worrying about hitting a tree stump while mowing your yard. With industrial stump grinders,
                we can save your mower from any future damage because of a tree stump.
                Contact us today to save your mower!
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
    <p id="fencing"></p><br />
    <div class="service-item">
        <h1 class="c-align-text ">Fencing</h1>
        <div class="service-item-sub box-shadow">
            <h2 class="c-align-text green-text">Fence Installation </h2>
            <p>
                Having a fence is a great addition to any property. If you’re tired of not having a fence
                but don’t know where to start. Let us help you plan and build your fence so you can move on
                to bigger and better things!
            </p>
        </div>
        <div class="service-item-sub box-shadow">
            <h2 class="c-align-text green-text">Fence Repairs </h2>
            <p>
                Fencing is very important to keep people out or even keep your pets in. We can help anyone,
                residential or commercial, to get their fencing back to new or even better! Let us help you
                get your fence back to tip-top shape!
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
    <p>
    </p>
    <p id="sprinklers"></p><br />
    <div class="service-item">
        <h1 class="c-align-text ">Landscaping</h1>
        <div class="service-item-sub box-shadow">
            <h2 class="c-align-text green-text">Sprinkler Systems Installation</h2>
            <p> Keeping your grass watered can really be a hassle. Our company can help you not worry 
            about watering your grass. With years of experience in installing sprinkler systems, 
            there’s no job too big or small for us to take on.</p>
        </div>
        <div class="service-item-sub box-shadow">
            <h2 class="c-align-text green-text">Sprinkler Systems Repair</h2>
            <p>
                Sprinkler systems, while extremely convenient, can sometimes break. Instead of 
                watering the grass manually or trying to fix it yourself, let our trained 
                professionals come out and help you get your sprinkler system repaired and ready 
                for summer!
            </p>
        </div>
        <div class="service-item-sub box-shadow">
            <h2 class="c-align-text green-text">Mowing</h2>
            <p>
                We also has plenty of equipment to take care of any landscaping need you have. 
                From simply mowing a residential yard all the way to designing and installing 
                a full landscaping plan. Let us help you make people jealous of your yard!
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>